* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 24px;
  background-color: #f1e8dc;
  color: #55206D;
}

h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
  color: #190D37;
  position: relative;
}

h2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 40px;
  color: #000;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 27px;
  color: #000;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.button {
  cursor: pointer;
}

section {
  margin-left: 70px;
}

.pre-heading {
  margin-bottom: 20px;
  color: #2858FF;
}

.subheading {
  font-family: 'Poppins', sans-serif;
  color: #190D37;
  line-height: 2rem;
  font-size: 1.2rem;
  margin-top: 10px;
}

#header {
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  padding: 10px;
}

.hamburger-menu {
  display: none;
}

#navbar-logo {
  display: flex;
  align-items: center;
  min-width: 200px;
}

#navbar-logo img {
  width: 50px;
  height: 50px;
}

#navbar-logo p {
  float: right;
  margin-left: 15px;
  color: black;
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
}

#navbar-links {
  list-style: none;
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
}

#navbar-links a {
  color: black;
  font-size: 22px;
  transition: color 0.5s;
  flex-wrap: wrap;
}

#navbar-links a:hover {
  color: #FFB800;
}

#hero {
  display: flex;
  flex-direction: row;
}

#hero-left {
  width: 50%;
  padding-left: 20px;
  padding-right: 40px;
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}

.contact-icons span {
  display: flex;
  align-items: center;
  color: black;
}

.contact-icons img {
  width: 31px;
  height: 31px;
  margin-right: 5px;
}

#hero-text {
  margin-top: 45px;
  margin-right: 17px;
  text-align: left;
}

#hero-text .upheading {
  margin-bottom: 10px;
}

#hero-text .subheading {
  margin-top: 35px;
}

#hero-buttons a {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #2F2F2F;
  color: white;
  border: none;
  width: 160px;
  text-align: center;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: background-color 0.7s;
}

#hero-buttons a:hover {
  background-color: #696161;
}

#hero-right {
  width: 50%;
}

#hero-image {
  width: 100%;
  height: 450px;
  border-bottom-left-radius: 150px;
  opacity: 0.8;
  object-fit: cover;
  z-index: 1;
}

#what-i-do,
#projects,
#pricing,
#questions,
#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-right: 70px;
}

#what-i-do {
  position: relative;
  z-index: 2;
}

.what-i-do-text,
.projects-text,
.pricing-text,
.questions-text,
.contact-form-text {
  width: 900px;
  margin-bottom: 30px;
  text-align: center;
}

.what-i-do-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  width: 1150px;
  text-align: center;
}

.what-i-do-boxes > div,
.pricing-boxes > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  padding: 25px;
}

.what-i-do-boxes p {
  margin-top: 15px;
  font-size: 1.1rem;
  line-height: 1.5;
}

.project-boxes {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 1150px;
  margin-top: 50px;
  row-gap: 40px;
  margin-bottom: 0;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-box h4 {
  font-size: 1.2rem;
  padding: 15px;
}

.project-box img {
  border-radius: 20px;
  object-fit: cover;
  transition: 0.5s;
  width: 160px;
  height: 160px;
}

.project-boxes img:hover {
transform: scale(1.04);
}

.pricing-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 35px;
  width: 1150px;
}

.pricing-box h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 21px;
  color: #000;
}

.pricing-box:nth-child(2) {
  background-color: #fddb60;
}

.pricing-box:nth-child(2) h4 {
  color: #2858FF;
}

.pricing-box:nth-child(2) a {
  color: #fff;
  background-color: #000;
}

.pricing-box:nth-child(2) a:hover {
  background-color: #595252;
}

.pricing-box .price {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 54px;
  color: #000;
  margin-top: 8px;
}

.pricing-box .price span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 21px;
  color: #8A8A8A;
  margin-left: 12px;
}

.pricing-box p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.8rem;
  color: #4e4c4c;
  margin-top: 12px;
  margin-bottom: 20px;
}

.pricing-box ul {
  list-style: none;
}

.pricing-box ul li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 24px;
  color: #4e4c4c;
  margin-bottom: 25px;
}

.pricing-box ul li:before {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: #fff;
  width: 12px;
  height: 12px;
  content: '\2713';
  background-color: #666666;
  border-radius: 50%;
  float: left;
  margin-right: 8px;
}

.pricing-box a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2F2F2F;
  border-radius: 4px;
  background-color: #fff;
  width: 300px;
  height: 44px;
  color: #000;
  transition: background-color 0.6s;
}

.pricing-box a:hover {
  background-color: #e1d2d2;
}

.questions-text {
  margin-bottom: 50px;
}

.faq {
  margin-bottom: 20px;
  width: 900px;
}

.faq:last-of-type {
  margin-bottom: 0;
}

.accordion {
  background: none;
  color: #55206D;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s;
}

.accordion:hover {
  background-color: #f0e1e1;
}

.accordion i {
  font-size: 1.5rem;
}

.answer {
  padding-top: 10px;
  overflow: hidden;
  display: none;
  text-align: left;
  margin-bottom: 12px;
}

.answer p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #6A87A3;
  font-size: 1.1rem;
  line-height: 1.4;
  padding-right: 1.5rem;
}

.answer:last-child {
  margin-bottom: 0;
}

#contact-form {
  margin-top: 50px;
}

.contact-form-text {
  margin-bottom: 30px;
}

form {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

fieldset>div {
  margin-bottom: 20px;
}

fieldset>div:last-of-type {
  margin-bottom: 10px;
}

label {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #55206D;
  font-size: 1.25rem;
  margin-bottom: 12px;
  display: block;
}

input,
textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f5f1;
  resize: vertical;
  color: black;
}

button[type="submit"] {
  padding: 10px;
  background-color: #2858FF;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #5879f1;
}

#myBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 75px;
  right: 35px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #d9bb4d;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  display: none;
}

#myBtn:hover {
  background-color: #555;
}

.color-box-1 {
  position: absolute;
  background-color: #f7e0f4;
  width: 200px;
  height: 200px;
  top: 180px;
  left: 50%;
  filter: blur(6px);
}

.color-box-2 {
  position: absolute;
  top: 1000px;
  left: 17%;
  background: linear-gradient(90deg, #e66465, #9198e5);
  width: 200px;
  height: 200px;
  border-radius: 47% 53% 18% 82% / 64% 39% 61% 36%;
  z-index: 1;
}

.color-box-3 {
  position: absolute;
  top: 850px;
  right: 17%;
  background: linear-gradient(90deg, #d5cd53, #5a9fd0);
  width: 200px;
  height: 200px;
  border-radius: 75% 25% 18% 82% / 34% 65% 35% 66%;
  z-index: 1;
}

.color-box-4 {
  display: block;
  margin-bottom: -20px;
  z-index: -1;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: 20px;
}

.footer i {
  margin-left: 10px;
  font-size: 20px;
}

@media screen and (max-width: 1050px) {

  .color-box-1,
  .color-box-2,
  .color-box-3,
  .color-box-4 {
    display: none;
  }

  section {
    margin: 0;
  }

  #hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #hero-text .subheading {
    margin-top: 20px;
  }

  #navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 170px;
    padding-bottom: 10px;
    background-color: #f1e8dc;
    position: absolute;
    top: 70px;
    padding-right: 35px;
    right: 0;
  }

  #navbar-links li {
    margin: 10px 0;
    color: white;
    text-align: right;
  }

  .hamburger-menu {
    display: block;
    margin-right: -30px;
    padding-bottom: 10px;
    color: #000;
    font-size: 2.4rem;
  }

  .hamburger-menu.cross {
    font-size: 2rem;
    padding-top: 8px;
    padding-right: 5px;
  }

  #hero-left,
  .what-i-do-text,
  .projects-text,
  .pricing-text,
  .questions-text,
  .contact-form-text,
  .faq {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contact-icons span {
    margin-top: 10px;
  }

  .contact-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0 auto;
  }

  .contact-icons img {
    width: 31px;
    height: 31px;
    margin-right: 5px;
  }

  #hero-text {
    text-align: center;
    margin-right: 0;
  }

  #hero-text .upheading {
    margin-bottom: 20px;
  }

  #hero-buttons a {
    margin-right: 0;
    width: 100%;
  }

  #hero-right {
    width: 100%;
    margin: 0 0;
  }

  #hero-image {
    width: 100%;
    opacity: 1;
  }

  #what-i-do,
  #projects,
  #pricing,
  #questions,
  #contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
  }

  p.subheading {
    margin-top: 15px;
  }

  .what-i-do-boxes,
  .pricing-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    width: 80vw;
    row-gap: 40px;
  }

  .project-boxes {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    width: 80vw;
  }

  .pricing-box {
    align-items: center;
    text-align: center;
    width: 80vw;
  }

  #wrapper {
    width: 90vw;
  }

  form,
  fieldset {
    max-width: 80vw;
  }

  .answer p {
    padding-right: 0;
  }

  #myBtn {
    visibility: hidden;
  }

  .footer {
    margin-top: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 440px) {
    .project-boxes {

      grid-template-columns: 1fr;
    }
}


